#logout_btn {
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: red;
    /* cursor: pointer; */
    transition: all 0.3s ease;
    padding: 7px 10px; 
    margin: 5px;  
}

